{# Time-range Definition #}
time-range 01.03.2025
 periodic weekdays 08:00 to 18:00

{# Dynamisch 500 Regeln erzeugen #}
{% for i in range(1, 501) %}

{# Beispielhafte Variation von Protokollen #}
{% set proto = ['tcp','udp','ip'][i % 3] %}

{# Beispielhafte Variation von Ports #}
{% if proto in ['tcp','udp'] %}
  {% set port = [22,53,80,123,443,500,4500][i % 7] %}
{% else %}
  {% set port = none %}
{% endif %}

{# Beispielhafte Source/Destination #}
{% set src_ip = "192.0.2." ~ (i % 254 + 1) %}
{% set dst_ip = "198.51.100." ~ (i % 254 + 1) %}

access-list {{ acl_name }} remark Rule {{ "%03d"|format(i) }} - Auto generated rule {{ i }}
access-list {{ acl_name }} extended permit {{ proto }} {{ src_ip }} 255.255.255.255 {{ dst_ip }} 255.255.255.255{% if port %} eq {{ port }}{% endif %} time-range 01.03.2025

{% endfor %}
